
.break::before {
  content: "\A";
  white-space: pre;
}


.page-container {

}

main {
  display: flex;
}

section.content {
}

#arrow {
  width: 40px;
  height: 100px;
}

body {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  letter-spacing: .1em;
  font-family: $body-font;


}

p,
h1,
h2,
h3,
a,
h2,
div
 {
  color: $default-txt-color;
  letter-spacing: $letter-spacing;
  margin:0;
  padding:0;
}

p {
  // margin-bottom: 1em;
}

h1 {
  // background-color: yellow;
  display: inline-block;
}

h2 {
  font-size: $h2-font-size;
  font-weight: $h2-weight;
  font-family: $h2-font;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    // list-style-type: none;
}

// ---------------------- Component styles ---------------------------

.headline {
  font-weight: $h1-weight;
  @include fluid-font2(400px, 1400px,  $h1-min-size, $h1-max-size);
  font-family: $h1-font;
  line-height: .8em;
  // background-color: grey;
  margin-right: 20%;
  display: inline-block;


}


p, li {
  font-size: $p-font-size;
  font-weight: 300;
  line-height: 2em;
  letter-spacing: .1em;
}

.emphasized {
  font-weight: $emphasized;
}

.item-group {
  margin-bottom: 20px;
}

.time-span {
  // font-size: 10px;
  margin: 0 0 7px 0;
}

h2 {
  font-weight: 500;
}

.booold {
  font-weight: 600;
}



@media (max-width: $breakpoint-mobile) {
  main {
    flex-direction: column;
  }
  section.content {
    margin-top: 50px;
  }
  
  h2, li,p {
    line-height: 1.8em;
    font-size: 11px;

  }
}




