
.break::before {
  content: "\A";
  white-space: pre;
}


.page-container {
  text-align: center;
  margin: 0 10%;

}

body {
  overscroll-behavior: none;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

p,
h1,
a,
h2,
div,
h3 {
  color: $default-txt-color;
  letter-spacing: $letter-spacing;
}

//
//@media (max-width: 600px) {
//  #header-wrapper {
//    padding: 3vh 0 8vh 0;
//  }
//}

// ---------------------- Component styles ---------------------------

.headline {
  font-weight: $h1-weight;
  @include fluid-font(20rem, $h1-min-size, 3rem, 20, 70, 1.574, 3);
  font-family: $h1-font;
  line-height: 1em;
  display: inline-block;
}

.sub-headline {
  @include fluid-font(20rem, $h2-min-size, 3rem, 20, 70, 1.574, 1.7);
  font-weight: $h2-weight;
  font-family: $h2-font;
  margin: 3.5em 0 2.5em 0;
}

.body-text {
  @include fluid-font(20rem, $p-min-size, 3rem, 20, 70, 1.574, 1.7);
  font-family: $p-font;
  max-width: 40ch;
  margin: 0 auto;
}

.emphasized {
  font-weight: $emphasized;
}
