
.break::before {
  content: "\A";
  white-space: pre;
}


.page-container {
  // text-align: left;
  // margin: 0 10%;
  // background-color: blue;
  // max-width: 900px;
  // background-color: teal;
  // margin: 0 auto;

}

main {
  display: flex;
}

section.content {
// background-color: red;
}

#arrow {
  width: 40px;
  height: 100px;
}

@media (max-width: $breakpoint-mobile) {
  main {
    flex-direction: column;
  }
  section.content {
    margin-left: 50px;
  }
}
body {
  overscroll-behavior: none none;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  letter-spacing: .1em;
  font-family: $body-font;


}

p,
h1,
h2,
h3,
a,
h2,
div
 {
  color: $default-txt-color;
  letter-spacing: $letter-spacing;
  margin:0;
  padding:0;
}

p {
  margin-bottom: 1em;
}

h1 {
  // background-color: yellow;
  display: inline-block;
}

h2 {
  font-size: $h2-font-size;
  font-weight: $h2-weight;
  font-family: $h2-font;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    // list-style-type: none;
}

// ---------------------- Component styles ---------------------------

.headline {
  font-weight: $h1-weight;
  @include fluid-font2(300px, 1400px,  $h1-min-size, $h1-max-size);
  font-family: $h1-font;
  line-height: .8em;
  // background-color: grey;
  margin-right: 20%;
  display: inline-block;


}


.body-text {
  font-size: $p-font-size;
  line-height: 2em;
  letter-spacing: .1em;
}

.emphasized {
  font-weight: $emphasized;
}





