@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

.exit {
  & > .bread-element {
    transform: translate3d(0, -110%, 0);
  }
}

.outDown {
  & > .bread-element {
    transform: translate3d(0, 110%, 0);
  }
}

.transition1 {
  @include transition(transform 1s);
}

.transition2 {
  @include transition(transform 0.5s 0.5s);
}

.transition3 {
  @include transition(transform 0.25s 0.75s);
}



body {
  @include transition(background-color 1s);

}
