
/* --------------- COLORS ------------------ */
$fav-color: #ff0000;
$default-txt-color: white;
$menu-item-color: white;
$progressbar-color: white;
// $about-color: #5e80ff;
// $services-color: #41b883;
// $work-color: rgb(132, 27, 158);
$about-bc-color: #797988;
$services-bc-color: #77cdff;
$contact-bc-color: #000000;
/* --------------- FONTS ------------------ */

$headline-font: 'Poppins', serif;
$body-font: $headline-font;

$body-size: 10px;
$letter-spacing: 1px;

$h1-min-size: 55px;
$h1-max-size: 110px;


$h1-weight: 600;
$h1-font: $headline-font;

// $h2-min-size: 15px;
// $h2-max-size: 15px;
$h2-font-size: $body-size; 
$h2-weight: 900;
$h2-font: $body-font;

$p-font: $body-font;
$p-font-size: $body-size;


$menu-item-weight: 0;
$menu-item-font: $body-font;
// $menu-item-size: 0.5em;
$menu-item-max-size: 11px;
$menu-item-min-size: 8px;
$menu-item-min-screen: 250px;
$menu-item-max-screen: 320px;
$emphasized: 800;


$footer-item-font: $body-font;
$footer-item-font-size: 0.5em;
/* --------------- ANIMATIONS----------------- */

/* --------------- OTHER ----------------- */

$breakpoint-mobile-height: 530px;
$breakpoint-mobile-height2: 430px;
$breakpoint-mobile: 660px;