
/* --------------- COLORS ------------------ */
$fav-color: #ff0000;
$default-txt-color: white;
$menu-item-color: white;
$progressbar-color: white;
// $about-color: #5e80ff;
// $services-color: #41b883;
// $work-color: rgb(132, 27, 158);
$about-bc-color: #797988;
$services-bc-color: #77cdff;
$contact-bc-color: #000000;
/* --------------- FONTS ------------------ */
$headline-font: "Eczar", serif;
$body-font: "Work Sans", sans-serif;
$body-size: 15px;
$letter-spacing: 1px;

$h1-min-size: 35px;
$h1-max-size: 75.5px;


$h1-weight: 400;
$h1-font: $headline-font;

// $h2-min-size: 15px;
// $h2-max-size: 15px;
$h2-font-size: $body-size; 
$h2-weight: 100;
$h2-font: $body-font;

$p-font: $body-font;
// $p-max-size: $body-max-size;
// $p-min-size: $body-min-size;
$p-font-size: $body-size;
$menu-item-weight: 0;
$menu-item-font: $body-font;
$menu-item-size: 0.7em;
// $menu-item-letter-spacing: 1px;
$emphasized: 800;
/* --------------- ANIMATIONS----------------- */
// $time-progressbar:

/* --------------- OTHER ----------------- */
